name: Build AppImage

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - name: Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libxcb-cursor0 libxcb-xinerama0 wget fuse

    - name: Install Dependencies
      run: |
        pip install pyside6
        pip install certifi
        pip install pyinstaller

    - name: Create Executable
      run: |
        pyinstaller --noconfirm --onedir --windowed --clean \
          --name "LeShade" \
          --add-data "assets:assets" \
          --icon "assets/logo.png" \
          main.py

    - name: Create AppDir structure
      run: |
        mkdir -p AppDir/usr/bin
        mkdir -p AppDir/usr/lib
        
        cp -r dist/LeShade/* AppDir/usr/bin/
        
        cp assets/logo.png AppDir/leshade.png
        
        echo "[Desktop Entry]" > AppDir/leshade.desktop
        echo "Type=Application" >> AppDir/leshade.desktop
        echo "Name=LeShade" >> AppDir/leshade.desktop
        echo "Exec=LeShade" >> AppDir/leshade.desktop
        echo "Icon=leshade" >> AppDir/leshade.desktop
        echo "Categories=Utility;Game;" >> AppDir/leshade.desktop
        echo "Terminal=false" >> AppDir/leshade.desktop
        
        ln -sr AppDir/usr/bin/LeShade AppDir/AppRun

    - name: Bundle libxcb-cursor0
      run: |
        find /usr/lib -name "libxcb-cursor.so.0" -exec cp {} AppDir/usr/lib/ \;
        find /usr/lib -name "libxcb-xinerama.so.0" -exec cp {} AppDir/usr/lib/ \;

    - name: Creates AppImage
      run: |
        wget -q https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage
        chmod +x appimagetool-x86_64.AppImage
        
        ARCH=x86_64 ./appimagetool-x86_64.AppImage AppDir

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: LeShade-AppImage
        path: "*.AppImage"
